@charset "utf-8";
/* CSS Document */



body{
  background-color: #1A0B08;
}

box-sizing{
	column-gap: 25;
}

.header {
  text-align: center;
  height: 225px;
  border-bottom: 2px solid #514635;
  max-width: 100%;
 
}

.header img{
  float:left;
  width: 100px;
  height: 100px;
}

.header::before {
  content: "";
  background-image: url("images/creepytrees.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
  z-index: -1;
  height: 234px;
}

h1 {
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6E1722;
  text-align: center;
  font-size: 50px;
}
h4 {
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #615843;
  font-size: 28px;
}
img {
  width: 100%;
  height: auto;
}

nav{
	overflow: hidden;
	text-align: center;
	}

nav a:link {
  /*use of web-font*/
  font-size: 25px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  color:#615843;
  display: block;
  text-decoration: none;
  
	}
nav a:visited {

	}
nav a:hover {
  color:#D3D3D3;
	}

nav a:active {
  text-decoration: underline;
  color:#6E1722;
	}

/* create three equal columns that float next to each other*/
.column{
	text-align: center;
	box-sizing: border-box;
	font-size: 22px;
	font-family: apertura,sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#615843;
}
 
/* clear float after the columns*/
.row:after{
	content: "";
	display: table;
	clear: both;
}
.footer{
	padding:10px;
	text-align: center;
	font-size: 10px;
	font-family: apertura,sans-serif;
	font-weight: 400;
	font-style: normal;
	color:#615843;
	border-top: 2px solid #514635;
}
ul{
  font-size: 18px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
}

a:link {
  color:#615843;
  text-decoration: none;
  margin-right: 30px;
	}
a:visited {
	color:#615843;
	text-decoration: none;
}

a:active {
  text-decoration: underline;
  color:#615843;
	}

a:hover {
  color:#D3D3D3;
	}

.form{
  padding: 10px;
  color: #312D21;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #6E1722;
  border-radius: 15px;
  background-color: #312D21;
  width: 400px;
  text-align: center;

}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 3px solid #6E1722;
  box-sizing: border-box;
  border-radius: 15px; 
  margin-top: 6px; 
  margin-bottom: 16px;
  color: #615843;
  background-color: white;
  opacity: 0.5;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=submit] {
  background-color: #6E1722;
  color: #615843;
  padding: 12px 20px;
  border: 3px solid #312D21;
  border-radius: 15px;
  cursor: pointer;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;

}

input[type=submit]:hover {
  background-color: #D3D3D3;
}

	
@media screen and (max-width : 600px ){
  .header,
  .h3,
  .nav,
  .column.left,
  .column.middle,
  .column.right {
   	width: 100%;
}
}