@charset "utf-8";
/* CSS Document */

html{
	
}

body{
  background-color: #1A0B08;
  margin: 0;
  padding: 0;
}

box-sizing{border-box:#615843;
}

@media only screen and (max-width : 620px ){
	.header, 
	.left,
	.middle, 
	.right {
	 width: 100%;
}
}
.header {
  grid-area: header;
  text-align: center;
  position: relative;
  width:100%;
  height: 200px;
  border-bottom: 2px solid #514635;
  left:0;
  right:0;
}

.header img{
  grid-area: header;
  float:left;
  width: 100px;
  height: 100px;
  position: relative;
  left: 30px;
  top: -5px;
  display:inline;
}

.header::before {
  content: "";
  width:100%;
  background-image: url("images/creepytrees.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
  z-index: 1;
}

h3 {
  position: absolute;
  font-family: apertura,sans-serif;
  font-weight: 300;
  font-style: normal;
  color: #6E1722;
  font-size: 52px;
  right: 20px;
  top: 40px;
  text-align: center;
  align: center;
  display: inline-block;
  z-index: 2;
  width: 100%;
}
h4 {
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #615843;
  font-size: 28px;
  z-index: 2;
}
img {
  width: 100%;
  height: auto;
}

nav{
	grid-area: header;
	width:100%;
	text-align: center;
	align: center;
	position: absolute;
	top: 155px;
	z-index: 3;
	}

nav ul{
	  list-style-type: none;
	  margin: 0;
	  padding: 0;
	}
nav li{
	/*makes navigation bar horizontal*/
	display:inline;
	}
nav a:link {
  /*use of web-font*/
  font-size: 25px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
  text-decoration: none;
	}
nav a:visited {

	}
nav a:hover {
  color:#D3D3D3;
	}

nav a:active {
  text-decoration: underline;
  color:#6E1722;
	}

.wrapper {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
	'.... ... form form .... ....'
    'footer footer footer footer footer footer';
} 

ul{
  font-size: 18px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
}

a:link {
  color:#615843;
  text-decoration: none;
  margin-right: 30px;
	}
a:visited {
	color:#615843;
	text-decoration: none;
}

a:active {
  text-decoration: underline;
  color:#615843;
	}

a:hover {
  color:#D3D3D3;
	}

.left,
.middle,
.right,
.footer {
  padding: 18px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
  z-index: 2;
}

.left {
  grid-area: left;
 
}

.middle {
  grid-area: middle;
  
}

.right {
  grid-area: right;
}
.form{
  padding: 10px;
  color: #312D21;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #6E1722;
  border-radius: 15px;
  background-color: #312D21;
  width: 400px;
  text-align: center;

}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 3px solid #6E1722;
  box-sizing: border-box;
  border-radius: 15px; 
  margin-top: 6px; 
  margin-bottom: 16px;
  color: #615843;
  background-color: white;
  opacity: 0.5;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=submit] {
  background-color: #6E1722;
  color: #615843;
  padding: 12px 20px;
  border: 3px solid #312D21;
  border-radius: 15px;
  cursor: pointer;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;

}

input[type=submit]:hover {
  background-color: #D3D3D3;
}

.footer {
  border-top: 2px solid #514635;
  grid-area: footer;
  background-color: #1A0B08;
  font-size: 10px;
  text-align: center;
  position: relative;
  padding: 15px;
  bottom: -40px;
  
}
	
