@charset "utf-8";
/* CSS Document */
body{
  background-color: #1A0B08; 
}

box-sizing{border-box:#615843;
}

.header {
  grid-area: header;
  background-color: #1A0B08;
  padding: 30px;
  text-align: center;
  position: relative;
  width:100%;
}

.header img{
  float:left;
  width: 100px;
  height: 100px;
  margin-left: 40px;
}

.header::before {
  content: "";
  width:100%;
  background-image: url("images/creepytrees.jpg");
  background-size: cover;
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  opacity: 0.15;
  z-index: 1;
}


h3 {
  position: relative;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #6E1722;
  font-size: 84px;
  top: 18px;
  left: 10px;
  z-index: 2;
}
h4 {
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color: #615843;
  font-size: 22px;
  z-index: 2;
}
img {
  width: 100%;
  height: auto;
}
nav{
	width:100%;
	text-align: center;
	position: relative;
	z-index: 3;
	}

nav ul{
  list-style-type: none;
  margin: 0;
  padding: 0;
	}
nav li{
	/*makes navigation bar horizontal*/
	display:inline;
	}
nav a:link {
  /*use of web-font*/
  font-size: 30px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
  text-decoration: none;
  margin-right: 30px;
	}
nav a:visited {

	}
nav a:hover {
  color:#D3D3D3;
	}

nav a:active {
  text-decoration: underline;
  color:#6E1722;
	}

.wrapper {
  display: grid;
  grid-template-areas: 
    'header header header header header header' 
    'left left middle middle right right' 
	'.... ... form form .... ....'
    'footer footer footer footer footer footer';
} 

ul{
  font-size: 18px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
}

a:link {
  color:#615843;
  text-decoration: none;
  margin-right: 30px;
	}
a:visited {
	color:#6E1722;
}

.left,
.middle,
.right,
.footer {
  padding: 18px;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  color:#615843;
  z-index: 2;
}

.left {
  grid-area: left;
 
}

.middle {
  grid-area: middle;
  
}

.right {
  grid-area: right;
}
.form{
  grid-area: form;
  padding: 10px;
  text-align: center;
  color: #312D21;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
  border: 3px solid #6E1722;
  border-radius: 15px;
  background-color: #312D21;
  width: 700px;
}
input[type=text], select, textarea {
  width: 100%; 
  padding: 12px; 
  border: 3px solid #6E1722;
  box-sizing: border-box;
  border-radius: 15px; 
  margin-top: 6px; 
  margin-bottom: 16px;
  color: #615843;
  background-color: white;
  opacity: 0.5;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=submit] {
  background-color: #6E1722;
  color: #615843;
  padding: 12px 20px;
  border: 3px solid #312D21;
  border-radius: 15px;
  cursor: pointer;
  font-family: apertura,sans-serif;
  font-weight: 400;
  font-style: normal;
}

input[type=submit]:hover {
  background-color: #D3D3D3;
}

.footer {
  grid-area: footer;
  background-color: #1A0B08;
  font-size: 10px;
  text-align: center;
  
}
	
@media (max-width: 600px) {
  .wrapper  {
    grid-template-areas: 
      'header header header header header header' 
      'left left left left left left' 
      'middle middle middle middle middle middle' 
      'right right right right right right'
	  'form form form form form form'
      'footer footer footer footer footer footer';
  }
}
